#main .home_find .ul_find{
width: 1200px;
margin: 0 auto;
padding: 0 0 20px;
}
#main .home_find .ul_find>li{
float: left;
width: 287px;
height: 490px;
margin: 0 17px 20px 0;
position:relative;
box-sizing: border-box; 
z-index: 100;
border: 1px solid rgb(238, 236, 236);
overflow: hidden;
}
#main .home_find .ul_find>li:nth-child(4n){
margin: 0 0 20px 0;
}

#itme{
position: absolute;
left: 0;
top: 0;
width: 285px;
height: 488px;
z-index: 1000;
}
.itme>.sub{
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: ghostwhite;
    z-index: 100;
    width: 100%;
    overflow: hidden;
}
.itme>.sub>img{
    z-index: -1;
    display: block;
}
.itme>.sub>p{
    margin: 4px;
}
.itme>.sub>p>a{
    display: block;
    margin:  0 100px;
    border: 1px solid #ccc;
    width: 80px;
    text-align: center;
}
.itme>.sub>p>a:hover{
    color: red;
    background: greenyellow;
}
